/* 
* MDL
* Segala sesuatu yang mengganti style dari
* class yang terdapat di MDL
*/

.mdl-card__title {
  color: #fff;
  background: #f44336;
}

.mdl-card__subtitle-text {
  color: #fff;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .mdl-dialog {
    width: 500px;
    text-align: center;
  }
}

/*
* PLEASE
* Karena MDL tidak menyediakan helper class
* jadi kita buat sendiri.
* Helper class yang dibuat untuk global.
* Tolong gunakan prefix pls-
*/

.pls-margin-x {
  margin-left: 1rem;
  margin-right: 1rem;
}
.pls-magin-y {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.pls-done {
  background: #4caf50;
}
.pls-img-200 {
  width: 200px;
  height: 200px;
}

/* 
* HTML BIASA
*/

body {
  font-family: "Roboto", sans-serif;
}

#content-header {
  text-align: center;
}

#lightBox {
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  overflow-x: scroll;
}

#laporanHarian,
#laporanHarian h1,
#laporanHarian h2,
#laporanHarian h3 {
  font-family: "Times New Roman", serif;
}
