/* local end here */
/* MDL */
#content-header {
  text-align: center;
}
.mdl-card__title {
  color: #fff;
  background: #f44336;
}

#lightBox {
  width: fit-content;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .mdl-dialog {
    width: 500px;
    text-align: center;
  }
}

/* LOCAL */
body {
  font-family: "Roboto", sans-serif;
}
.margin-x {
  margin-left: 1rem;
  margin-right: 1rem;
}
.done {
  background: #4caf50;
}
.img-200 {
  width: 200px;
  height: 200px;
}
